{% extends "base.html" %}

{% block app_content %}
  <h1>Bookshelf</h1>
  <div class="row">
    <div class="col-md-8 blog-main">
      <h4>Some books that have shaped my worldview, with no particular order</h4>
      <div class="blog-post">
          <hr>
          <ul>
            <li><a href="https://www.amazon.com/Principles-Life-Work-Ray-Dalio-ebook/dp/B071CTK28D/ref=sr_1_1_sspa?crid=357K5UOU6Z37L&keywords=principles+life+and+work&qid=1580602961&sprefix=princi%2Caps%2C271&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFHOFcxRTNGTktCSEYmZW5jcnlwdGVkSWQ9QTAyODY5MjEzMVZJS0pDVFlQQzhCJmVuY3J5cHRlZEFkSWQ9QTAxNzIzMjEyRFBaSFlHRUZIU04yJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">Principles: Life and Work</a></li>
            <li><a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/B0006IU7JK/ref=sr_1_3?crid=72KN0WN1O8PE&keywords=how+to+win+friends+and+influence+people&qid=1580602996&sprefix=how+to+win+%2Caps%2C203&sr=8-3">How to Win Friends and Influence</a></li>
            <li><a href="https://www.amazon.com/Barbarian-Days-A-Surfing-Life/dp/B00YMLTTNW/ref=sr_1_1?crid=3VWX7O7NRACC1&keywords=barbarian+days+a+surfing+life+by+william+finnegan&qid=1580603024&s=audible&sprefix=barbaria%2Caudible%2C187&sr=1-1">Barbarian Days: A Surfing Life</a></li>
            <li><a href="https://www.amazon.com/-/es/Nassim-Nicholas-Taleb/dp/081297381X/ref=sr_1_2?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=black+swan&qid=1580603803&sr=8-2">The Black Swan</a></li>
            <li><a href="https://www.amazon.com/-/es/Paulo-Coelho/dp/0062315005/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=32VRMPYY88RJ6&keywords=the+alchemist&qid=1580603869&sprefix=el+alq%2Caps%2C196&sr=8-1">El Alquimista</a></li>
            <li><a href="https://www.amazon.com/21-Lessons-21st-Century/dp/B07DHSPZT2/ref=sr_1_1?crid=3SQ9WJUFFVPD5&keywords=21+lessons+for+the+21st+century&qid=1580603050&s=audible&sprefix=21+less%2Caudible%2C436&sr=1-1">21 Lessons for the 21st Century</a></li>
            <li><a href="https://www.amazon.com/Sapiens-Brief-History-Humankind/dp/B0741F3M7C/ref=sr_1_1?crid=VDMIRQI9TFQK&keywords=sapiens+a+brief+history+of+humankind&qid=1580603073&s=audible&sprefix=sapiens+%2Caudible%2C345&sr=1-1">Sapiens: A Brief History of Humankind</a></li>
            <li><a href="https://www.amazon.com/Homo-Deus-Brief-History-Tomorrow/dp/B01MYZ4OUW/ref=sr_1_1?crid=3LV7LTQW2VOOV&keywords=homo+deus+a+brief+history+of+tomorrow&qid=1580603098&s=audible&sprefix=homo+deu%2Caudible%2C394&sr=1-1">Homo Deus: A History of Tomorrow</a></li>
            <li><a href="https://www.amazon.com/Zero-One-Notes-Startups-Future/dp/B00M284NY2/ref=sr_1_1?crid=6JWSQ3AEK6MW&keywords=zero+to+one+peter+thiel&qid=1580603121&s=audible&sprefix=zero+%2Caudible%2C189&sr=1-1">Zero to One</a></li>
            <li><a href="https://www.amazon.com/Lean-Startup-Entrepreneurs-Continuous-Innovation/dp/B005MM7HY8/ref=sr_1_1?keywords=the+lean+startup&qid=1580603147&s=audible&sr=1-1">The Lean Startup</a></li>
            <li><a href="https://www.amazon.com/Elon-Musk-SpaceX-Fantastic-Future/dp/B00UVY52JO/ref=sr_1_1?keywords=Elon+Musk%3A+Tesla%2C+SpaceX%2C+and+the+Quest+for+a+Fantastic+Future&qid=1580603169&s=audible&sr=1-1">Elon Musk: Tesla, SpaceX, and the Quest for a Fantastic Future</a></li>
            <li><a href="https://www.amazon.com/Steve-Jobs/dp/B07ZMKXMTG/ref=sr_1_1?keywords=Steve+Jobs&qid=1580603197&s=audible&sr=1-1">Steve Jobs</a></li>
            <li><a href="https://www.amazon.com/1984-New-Classic-Edition/dp/B000Q6ZLOI/ref=sr_1_1?keywords=1984&qid=1580603238&s=audible&sr=1-1">1984</a></li>
            <li><a href="https://www.amazon.com/Influence-The-Psychology-of-Persuasion/dp/B01KWAPHAK/ref=sr_1_1?keywords=Influence%3A+The+Psychology+of+Persuasion&qid=1580603265&s=audible&sr=1-1">Influence: The Psychology of Persuasion</a></li>
            <li><a href="https://www.amazon.com/Thinking-Fast-and-Slow/dp/B005Z9GAJG/ref=sr_1_1?keywords=Thinking+Fast+and+Slow&qid=1580603293&s=audible&sr=1-1">Thinking Fast and Slow</a></li>
            <li><a href="https://www.amazon.com/Think-and-Grow-Rich/dp/B07NNXXH3R/ref=sr_1_2?keywords=Think+and+Grow+Rich&qid=1580603322&s=audible&sr=1-2">Think and Grow Rich</a></li>
            <li><a href="https://www.amazon.com/Mindset-New-Psychology-Success/dp/B07N48NM33/ref=sr_1_2?keywords=mindset&qid=1580603365&s=audible&sr=1-2">Mindset</a></li>
            <li><a href="https://www.amazon.com/-/es/Charles-Montgomery/dp/0374534888/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=happy+city&qid=1580603498&sr=8-1">Happy City</a></li>
            <li><a href="https://www.amazon.com/-/es/Daron-Acemoglu/dp/0307719227/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1EVKZ31H4FFH2&keywords=why+nations+fail&qid=1580603587&sprefix=why+nations+fa%2Caps%2C188&sr=8-1">Why Nations Fail</a></li>
            <li><a href="https://www.amazon.com/-/es/Eckhart-Tolle/dp/1577314808/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1CIQD0ZT1EYO7&keywords=the+power+of+now&qid=1580603628&sprefix=the+power+of+now%2Caps%2C379&sr=8-1">The Power of Now</a></li>
            <li><a href="https://www.amazon.com/-/es/Eckhart-Tolle/dp/0452289963/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1L66FH6ORNPMW&keywords=a+new+earth+by+eckhart+tolle&qid=1580603659&sprefix=a+new+e%2Caps%2C257&sr=8-1">A New Earth</a></li>
            <li><a href="https://www.amazon.com/-/es/Mark-Manson/dp/1463750358/ref=sr_1_3?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&keywords=honesty&qid=1580603735&sr=8-3">Honesty</a></li>
            <li><a href="https://www.amazon.com/-/es/Robert-T-Kiyosaki/dp/1612680194/ref=sr_1_1?__mk_es_US=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2BYXJ3JRR8TBT&keywords=rich+dad+poor+dad&qid=1580603942&sprefix=rich+dad+po%2Caps%2C224&sr=8-1">Rich Dad Poor Dad</a></li>

          </ul>
      </div><!-- /.blog-post -->
    </div>
  </div>
{% endblock %}
