{% extends "base.html" %}

{% block app_content %}
  <h1>LA Guide</h1>
  <div class="row">
    <div class="col-md-8 blog-main">
      <h4><a href="https://www.google.com/maps/placelists/list/uyEfF0Q5u_T4F40-yQpWEyVeM0O3Iw">Some of my favorite spots in LA</a></h4>
      <div class="blog-post">
          <hr>
          <h5>Coffee/Breakfast</h5>
          <ul>
            <li><a href="https://goo.gl/maps/S5PXtTmco1oRHU1GA">Kumquat</a></li>
            <li><a href="https://goo.gl/maps/tmTUNRbqtH2jQGKy9">Maru Coffee</a></li>
            <li><a href="https://goo.gl/maps/3DNUjyibCfgP8me58">Destroyer</a></li>
            <li><a href="https://g.page/Sqirl?share">Sqirl</a></li>
            <li><a href="https://goo.gl/maps/Kr6U378C8XYTDGnx6">Endorffeine</a></li>
            <li><a href="https://goo.gl/maps/oQzeCXXjjuxpN4Si8">Le Colombe Frogtown</a></li>
          </ul>

          <h5>Restaurants</h5>
          <ul>
            <li><a href="https://goo.gl/maps/TNiXcB9grTpyxyHk9">Mh Zh</a></li>
            <li><a href="https://goo.gl/maps/N1R5UzHVkvfA4WU18">Majordomo</a></li>
            <li><a href="https://goo.gl/maps/zfoj624YRx1CNScq6">Manuela</a></li>
            <li><a href="https://goo.gl/maps/Cm4HbfkkZS8Vgrj49">Arts District Firehouse Hotel</a></li>
            <li><a href="https://goo.gl/maps/qMcnwUcapMsUSxCq6">Kazu Nori</a></li>
            <li><a href="https://goo.gl/maps/yx4zCjV6TAjibYaR8">Smorgasburg</a></li>
          </ul>

          <h5>Bars</h5>
          <ul>
            <li><a href="https://goo.gl/maps/Nvp2yFaxx71GWRRd7">In Sheep's Clothing</a></li>
            <li><a href="https://goo.gl/maps/J4bdyFZtYNfqpYbr5">Death & Co</a></li>
            <li><a href="https://goo.gl/maps/P5uEimo9byKRfczt8">Zebulon</a></li>
            <li><a href="https://goo.gl/maps/WoSsZxnZye6RY5Ja6">Angel City Brewery</a></li>
          </ul>
      </div><!-- /.blog-post -->
    </div>
  </div>
{% endblock %}
