{% extends "base.html" %}

{% block app_content %}
  <h1>Resume</h1>
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <div class="mt-2 col-md-12">
        <hr>
          <h4>Education</h4>
          <ul>
            <li>Occidental College, Los Angeles, CA</li>
            <li>Expected Graduation: May 2021</li>
            <li>Computer Science Major, Math Minor 3.58/4.00 Cumulative GPA</li>
            <li>Key Coursework: Data Structures, Linear Algebra, Discrete Math, Databases, Intro to Data Science, Web Apps</li>
            <li>Dean’s List (2017 Fall Semester & 2019 Spring Semester)</li>
          </ul>
        </div>
        <div class="mt-2 col-md-12">
          <h4>Projects & Activities</h4>
          <ul>
            <li>Twitter API Project (Python)</li>
              <ul>
                <li>Used Twitter API to pull data and store in CSV format</li>
              </ul>
            <li>Flutter App (Dart)</li>
              <ul>
                <li>Built basic app with Google Maps API and Flutter</li>
              </ul>
            <li>Blog-WebApp (Flask, Bootstrap)</li>
              <ul>
                <li>Built a blog with login, register, follow, reset password functionality.</li>
              </ul>
          </ul>
        </div>
        <div class="mt-2 col-md-12">
          <h4>Technical Skills</h4>
          <ul>
            <li>Python (Intermediate)</li>
            <li>MySQL (Intermediate)</li>
            <li>Java (Beginner)</li>
            <li>Flask (Intermediate)</li>
            <li>Bootstrap (Intermediate)</li>
          </ul>
        </div>
        <div class="mt-2 col-md-12">
          <h4>Work Experience</h4>
          <ul>
            <li>Urbvan, Mexico City, Mexico</li>
            <ul>
              <li>June - July 2019</li>
              <li>Data Engineer Intern</li>
              <li>Wrote Python scripts to help migrate databases; Pandas, SQLAlchemy</li>
              <li>Migrated 6 tables</li>
            </ul>
            <li>KOXY, Occidental College’s Radio Station, Los Angeles</li>
            <ul>
              <li>August 2018 - Present</li>
              <li>Web Developer, Lead</li>
              <li>Designed and implemented KOXY website (koxyradio.com); used Wordpress</li>
              <li>Responsible for one other developer</li>
              <li>Visited by ~1,000 people per month</li>
            </ul>
          </ul>
        </div>
        <div class="mt-2 col-md-12">
          <h4>Additional Skills/Leadership</h4>
          <ul>
            <li>Bilingual in English and Spanish</li>
            <li>Avid traveler, once rode a motorcycle across Vietnam alone and backpacked Australia and Southeast Asia</li>
            <li>Established a series of talks about relevant problems in Mexico. Led a group of 5 people. Attended by 400 people</li>
            <li>Student Body President High School (2015-2016)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
